In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
import numpy as np
import pandas as pd

import sklearn as sk
from sklearn import base
from sklearn import calibration
from sklearn import cluster
from sklearn import compose
from sklearn import covariance
from sklearn import cross_decomposition
from sklearn import datasets
from sklearn import decomposition
from sklearn import discriminant_analysis
from sklearn import dummy
from sklearn import ensemble
from sklearn import exceptions
from sklearn import experimental
from sklearn import feature_extraction
from sklearn import feature_selection
from sklearn import gaussian_process
from sklearn import impute
from sklearn import inspection
from sklearn import isotonic
from sklearn import kernel_approximation
from sklearn import kernel_ridge
from sklearn import linear_model
from sklearn import manifold
from sklearn import metrics
from sklearn import mixture
from sklearn import model_selection
from sklearn import multiclass
from sklearn import multioutput
from sklearn import naive_bayes
from sklearn import neighbors
from sklearn import neural_network
from sklearn import pipeline
from sklearn import preprocessing
from sklearn import random_projection
from sklearn import semi_supervised
from sklearn import svm
from sklearn import tree
from sklearn import utils

In [10]:
df = pd.read_csv('BankMarketingDataSet.csv', sep=';')
df

,id,age,job,marital,education,default,housing,loan,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1,30,blue-collar,married,basic.9y,no,yes,no,-1.8,92.893,-46.2,1.313,5099.1,no
1,2,39,services,single,high.school,no,no,no,1.1,93.994,-36.4,4.855,5191.0,no
2,3,25,services,married,high.school,no,yes,no,1.4,94.465,-41.8,4.962,5228.1,no
3,4,38,services,married,basic.9y,no,unknown,unknown,1.4,94.465,-41.8,4.959,5228.1,no
4,5,47,admin.,married,university.degree,no,yes,no,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,4115,30,admin.,married,basic.6y,no,yes,yes,1.4,93.918,-42.7,4.958,5228.1,no
4115,4116,39,admin.,married,high.school,no,yes,no,1.4,93.918,-42.7,4.959,5228.1,no
4116,4117,27,student,single,high.school,no,no,no,-1.8,92.893,-46.2,1.354,5099.1,no
4117,4118,58,admin.,married,high.school,no,no,no,1.4,93.444,-36.1,4.966,5228.1,no
4118,4119,34,management,single,high.school,no,yes,no,-0.1,93.200,-42.0,4.120,5195.8,no

In [ ]:
print(df.shape[0])

In [ ]:
print(df.isnull().sum())

In [ ]:
print(df['y'].value_counts())

In [ ]:
df['age'].value_counts().sort_index().plot(kind='bar')

In [ ]:
cross = pd.crosstab(df['marital'], df['y'], normalize='index')
print(cross)

Influenza, ma in modo moderato, in quanto i single hanno il 13%, mentre gli altri stati si aggirano sul 10%

In [ ]:
cross.plot(kind = 'bar')

In [ ]:
agecross = pd.crosstab(df['age'], df['y'], normalize='index')
agecross *100

In [ ]:
age_yes = agecross['yes']
age_no = agecross['no']

In [ ]:
plt.subplot(2, 1, 1)
age_no.plot(kind = 'bar')
plt.subplot(2, 1, 2)
age_yes.plot(kind = 'bar')

In [ ]:
plt.plot(age_yes.index, age_yes.values, color='green', marker='o', label='Hanno sottoscritto (YES)')
plt.plot(age_no.index, age_no.values, color='red', linestyle='--', alpha=0.5, label='Non hanno sottoscritto (NO)')
plt.title('Percentuale di sottoscrizione per Età')
plt.xlabel('Età')
plt.ylabel('Probabilità (Percentuale)')
plt.legend()
plt.grid(True, alpha=0.3)
plt.show()

Dal grafico posso dire che si ha una tendenza al si per i più giovani (25 anni), e a partire dai 60 anni.
Inoltre dato che il grafico varia molto posso vedere che sono presenti pochi campioni per le età più avanzate nel mio dataset.
La fascia centrale (30-50) invece ha una bassa probabilità di accettare

In [7]:
df[df['age']>60]['y'].value_counts()

NameError: name 'df' is not defined

# 2 Predizione

In [ ]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df

In [ ]:
cat_cols =[]
for col in df.columns:
  if df[col].dtype == 'object':
    cat_cols.append(col)

print(cat_cols)

In [ ]:

mapping = {
    'yes' :1,
    'no' :0
}
df_pred = df.copy()
yesno = ['default', 'housing', 'loan', 'y']
for col in yesno:
  df_pred[col] = df_pred[col].map(mapping)
  cat_cols.remove(col)

In [ ]:
print(cat_cols)

In [ ]:
df_pred.replace('unknown', np.nan, inplace=True)
df_pred = df_pred.dropna()

In [ ]:
le = LabelEncoder()
for col in cat_cols:
  df_pred[col] = le.fit_transform(df_pred[col])
df_pred

In [ ]:
X =df_pred.drop('y', axis=1)
y=df_pred['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_train)
acc_dt_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_dt_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = dt.predict(X_test)
acc_dt_test = accuracy_score(y_test, y_pred)
print(f'Accuacy di test : {acc_dt_test}')
print(confusion_matrix(y_pred, y_test))

Un accuracy di 0.81 è buona, ma il train ha 1, qunid è presente overfitting

In [ ]:
lr = LogisticRegression()

lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
acc_lr_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_lr_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = lr.predict(X_test)
acc_lr_test = accuracy_score(y_test, y_pred)
print(f'Accuacy di test : {acc_lr_test}')
print(confusion_matrix(y_pred, y_test))

I risultati sono migliori. Non presente overfitting, ma dalla confusion matrix possiamo vedere che il modello tende sempre a dare no come risposta, e dato che il dataset è molto squilibrato i risultati sono buoni.

In [ ]:
import warnings
warnings.filterwarnings('ignore')
score = cross_val_score(dt, X, y, cv = 10)
print(f'Per il dt con fold:  {score}, {score.mean()}, {score.var()}')
score = cross_val_score(lr, X, y, cv = 10)
print(f'Per il lr con fold:  {score}, {score.mean()}, {score.var()}')

Ovviamente è più affidabile il kfold. Possiamo infatti vedere che nel dt c'è molta varianza, che dimostra l'overfitting presente nel modello.
Ne emerge vincitore il lr, con una media di 0.87

In [ ]:
numeric = df.copy()

numeric_cols = []
for col in df.columns:
  if df[col].dtype in ['int64', 'float64'] :
    numeric_cols.append(col)

print(numeric_cols)

numeric

In [ ]:
for col in df.columns:
  if col not in numeric_cols:
    numeric.drop(col, axis=1, inplace = True)
numeric

In [12]:
gemnumeric = df.select_dtypes(include='number').copy()
gemnumeric

,id,age,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1,30,-1.8,92.893,-46.2,1.313,5099.1
1,2,39,1.1,93.994,-36.4,4.855,5191.0
2,3,25,1.4,94.465,-41.8,4.962,5228.1
3,4,38,1.4,94.465,-41.8,4.959,5228.1
4,5,47,-0.1,93.200,-42.0,4.191,5195.8
...,...,...,...,...,...,...,...
4114,4115,30,1.4,93.918,-42.7,4.958,5228.1
4115,4116,39,1.4,93.918,-42.7,4.959,5228.1
4116,4117,27,-1.8,92.893,-46.2,1.354,5099.1
4117,4118,58,1.4,93.444,-36.1,4.966,5228.1
4118,4119,34,-0.1,93.200,-42.0,4.120,5195.8

In [ ]:
X = numeric.copy()
y = df['y'].map(mapping)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_train)
acc_dt_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_dt_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = dt.predict(X_test)
acc_dt_test = accuracy_score(y_test, y_pred)
print(f'Accuacy di test : {acc_dt_test}')
print(confusion_matrix(y_pred, y_test))

In [ ]:
lr = LogisticRegression()

lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
acc_lr_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_lr_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = lr.predict(X_test)
acc_lr_test = accuracy_score(y_test, y_pred)
print(f'Accuacy di test : {acc_lr_test}')
print(confusion_matrix(y_pred, y_test))

In [8]:
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
categorical_cols = [c for c in categorical_cols if c != 'y']
dummies = pd.get_dummies(df[categorical_cols], dtype=int)
new_df = pd.concat([numeric, dummies], axis =1)
new_df

NameError: name 'df' is not defined

In [ ]:
X = new_df.copy()
y = df['y'].map(mapping)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_train)
acc_new_dt_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_new_dt_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = dt.predict(X_test)
acc_new_dt_test = accuracy_score(y_test, y_pred)

print(f'Accuacy di test : {acc_new_dt_test}')
print(f'Prima era: {acc_dt_test}')

print(confusion_matrix(y_pred, y_test))

In [ ]:
lr = LogisticRegression()

lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
acc_new_lr_train = accuracy_score(y_pred, y_train)
print(f'Accuacy di train : {acc_new_lr_train}')
print(confusion_matrix(y_pred, y_train))

y_pred = lr.predict(X_test)
acc_new_lr_test = accuracy_score(y_test, y_pred)
print(f'Accuacy di test : {acc_new_lr_test}')
print(f'Prima era: {acc_lr_test}')
print(confusion_matrix(y_pred, y_test))

In [ ]:
df_pred

In [ ]:
X = df_pred.drop(['y'], axis = 1)
y = df_pred['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

lin = LinearRegression()
lin.fit (X_train, y_train)
y_pred = np.round(lin.predict(X_train))

acc_lin_train = accuracy_score(y_pred, y_train)
print(f'Accuracy di train: {acc_lin_train}')


y_pred = np.round(lin.predict(X_test))

acc_lin_test = accuracy_score(y_pred, y_test)
print(f'Accuracy di train: {acc_lin_test}')