In [21]:
import pandas as pd
from pandas import read_csv
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

ds = read_csv("../data/heart.csv")

ds.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [28]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm

for col in ds.select_dtypes(include='object').columns:
    ds[col] = ds[col].astype('category').cat.codes


train_X , test_X, train_Y, test_Y= train_test_split(ds.drop(columns="HeartDisease"), ds["HeartDisease"], test_size=0.25, random_state=5)

train_X.head(5)
test_X.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
236,41,1,0,120,336,0,1,118,-1,3.0,1
151,48,1,1,100,159,0,1,100,-1,0.0,2
329,60,1,0,130,0,1,2,130,-1,1.1,0
416,63,1,0,140,260,0,2,112,-1,3.0,1
795,42,1,2,120,240,1,1,194,-1,0.8,0

DECISION TREE

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dst = DecisionTreeClassifier()
dst.fit(train_X, train_Y)
y_pred = dst.predict(train_X)

accuracy_score(train_Y, y_pred)

1.0

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(train_X, train_Y)