1. Il file weather.csv contiene informazioni sul meteo di alcune città australiane. Caricare il suo contenuto in un dataframe.

   Quante righe e quante colonne ci sono nel dataset?

   Ci sono valori mancanti?

In [21]:
import pandas as pd
data = pd.read_csv('weather.csv', sep=';')
data.head(5)

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No

2. Aggiungere al dataset:

- una nuova colonna "temp_diff" con la differenza in valore assoluto tra i valori di temperatura alle 9 del mattino e le 3 del pomeriggio

- una nuova colonna "hum_diff" con la differenza in valore assoluto tra i valori di umidità alle 9 del mattino e le 3 del pomeriggio

In [22]:
data["temp_diff"]= abs(data["Temp9am"] - data["Temp3pm"])
data["hum_diff"]= abs(data["Humidity3pm"] - data["Humidity9am"])
data.head(5)

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,temp_diff,hum_diff
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No,10.6,29
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes,6.9,24
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes,2.3,5
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes,2.4,9
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No,5.0,29

3. Selezionare soltanto le righe in cui "temp_diff" è maggiore di 10 e "hum_diff" è maggiore di 20. Qual è la location in cui si verifica più spesso questa elevata escursione termica (ovvero la location con il maggior numero di righe nella selezione)?

In [23]:
data[(data["temp_diff"] > 10) & (data["hum_diff"] > 20)]

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,temp_diff,hum_diff
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No,10.6,29
9,1,Albury,17.8,37.0,0.0,41,9,17,54,17,1016.6,1012.6,-1,26.2,36.2,No,No,10.0,37
10,1,Albury,17.7,39.2,0.0,56,9,7,46,13,1011.6,1007.5,8,26.0,37.0,No,No,11.0,33
12,1,Albury,20.2,43.0,0.0,72,15,24,51,16,1013.8,1007.5,-1,27.9,42.3,No,No,14.4,35
18,1,Albury,16.1,40.0,0.0,50,7,19,46,15,1015.5,1009.4,5,24.3,37.6,No,No,13.3,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14361,9,Uluru,7.6,28.7,0.0,54,13,35,59,20,1015.8,1010.2,1,14.8,27.7,No,No,12.9,39
14364,9,Uluru,5.9,29.4,0.0,54,9,30,52,15,1010.7,1003.7,1,15.3,28.4,No,No,13.1,37
14414,11,Uluru,17.5,35.5,0.0,46,19,9,46,15,1009.8,1005.4,-1,22.0,33.7,No,No,11.7,31
14426,11,Uluru,18.2,39.6,0.0,33,17,19,34,10,1010.1,1004.4,-1,27.9,38.4,No,No,10.5,24
14455,12,Uluru,22.1,39.5,2.0,54,13,11,56,25,1009.0,1004.8,-1,28.6,38.7,Yes,No,10.1,31

4. Quante location sono presenti nel file?

In [24]:
data["Location"].nunique()

42

5. Trasformare i valori della colonna "RainToday" convertendo "yes" in 1 e "no" in 0. Utilizzando il metodo groupby calcolare per ogni location il numero di giorni di pioggia.

In [26]:
dic = {"Yes" : 1, "No" : 0}
data["RainToday"] = data['RainToday'].map(dic)
data.head(5)

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,temp_diff,hum_diff
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,0,No,10.6,29
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,0,Yes,6.9,24
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,1,Yes,2.3,5
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,1,Yes,2.4,9
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,1,No,5.0,29

6. Creare una tabella pivot in cui per ogni location (sulle righe) e per ogni mese (sulle colonne) sia calcolata la temperatura massima media.

7. Visualizzare in un unico grafico la distribuzione dei valori di temperatura massima nel mese di maggio (5) e dicembre (12).

8. Visualizzare in uno scatterplot la relazione tra i valori di pressione e i valori di umidità (fare 2 plot distinti nella stessa figura, uno per i valori 9am e un altro per i valori 3pm). Colorare i punti di due colori diversi in base ai valori di RainToday.